<!DOCTYPE html>
<html lang="en">
	<head>
		<title> Tabl </title>
		<style>
         table, tr,th,td {
            border: 1px solid black;
         }
      </style>
		
	</head>
<body>

<p>{{message}}</p>

<table>	
<!-- For loop logic of jinja template -->
<tr>
            <th>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspAccount&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
			
            <th>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDate&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
			
			<th>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspTransaction&nbspDetails&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
			
			<th>&nbsp&nbsp&nbsp&nbspWithdraw&nbsp&nbsp</th>
			
			<th>&nbsp&nbsp&nbsp&nbsp&nbspDeposit&nbsp&nbsp&nbsp&nbsp&nbsp</th>
			
			<th>&nbsp&nbsp&nbsp&nbsp&nbspBalance&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
         </tr>
{%for i in range(0, len)%}
    <tr>
	<td>&nbsp&nbsp{{account[i]}}&nbsp&nbsp</td>
	<td>&nbsp&nbsp{{date[i]}}&nbsp&nbsp</td>
	<td>&nbsp&nbsp{{transaction[i]}}&nbsp&nbsp</td>
	<td>&nbsp&nbsp{{withdraw[i]}}&nbsp&nbsp</td>
	<td>&nbsp&nbsp{{deposit[i]}}&nbsp&nbsp</td>
	<td>&nbsp&nbsp{{balance[i]}}&nbsp&nbsp</td></tr>
	
{%endfor%}
 
</table> 
     	
</body>
</html>
